/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --content-font-family: 'IBM Plex mono';
  --accent-color: #ff0070;
  --content-title-color: #ff0070;
  --decoration-color: #ff0070;
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --content-font-size: 18px;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --focus-shadow-color: #FF0070;
  --menu-button-text-color: #ff0070;
  --menu-button-border-color: rgba(255, 0, 112, 0.6
  ) /*без переноса не проходит автотест*/
}
  