/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --content-font-family: "IBM Plex mono";
  --accent-color: #ff0070;
  --content-title-color: #ff0070;
  --decoration-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --content-font-size: 18px;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --focus-shadow-color: #ff0070;
  --menu-button-text-color: #ff0070;
  --menu-button-border-color: rgba(255, 0, 112, 0.6);
}
